{% extends "base.html" %}

{% block title %}
  {{ task.name }} - Delete
{% endblock title %}
{% block content %}
  <main>
    <div class="delete-task">
      <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete {{ task.name }}?</p>
        {{ form.as_p }}
        <div>
          <button class="button">Delete</button>
        </div>
      </form>
    </div>
  </main>
{% endblock content %}
